<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
 <listener class-name="utilities.ExtentReportManager"/>

</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="headless"/>
    <classes>
           <class name="testCases.ContactUsForm"/> 
           <class name="testCases.RegisterUser"/> 
        <class name="testCases.AddProductInCartsTest"/> 
        <class name="testCases.RemoveProductFromCart"/> 
      <class name="testCases.ViewCategoryProduct"/>
      <class name = "testCases.verifySubscriptionInHomePage"/> 
      <class name = "testCases.RegisterWhileCheckOut"/>  
      <!-- <class name="testCases.SearchProduct"/>
      <class name="testCases.ECommerceApiTests"/>  -->
      
     
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
